name: Checks

on: [ pull_request, push, workflow_dispatch ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Code formatting.
  fmt:
    name: cargo-fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo fmt --all -- --check

  # Static analyzer.
  clippy:
    name: cargo-clippy (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo clippy --all-targets --all-features -- -D warnings -D clippy::unwrap_used -D clippy::pedantic

  # Check links in markdown files.
  mlc:
    name: mlc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: becheran/mlc@v1

  # cargo-deny.
  deny:
    name: cargo-deny
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: EmbarkStudios/cargo-deny-action@v2
  